.serif-font {
  font-family: "ff-tisa-web-pro", "FF Tisa Pro";
}
.sans-serif-font {
  font-family: "ff-tisa-sans-web-pro", "FF Tisa Sans Pro";
}
body {
  background-color: #f5f5f5;
}
h1 {
  font-family: "ff-tisa-web-pro", "FF Tisa Pro";
  font-weight: 400;
  color: #062946;
}
h2 {
  font-family: "ff-tisa-web-pro", "FF Tisa Pro";
  font-weight: 400;
  color: #062946;
}
h2 strong {
  font-weight: 700;
}
h3 {
  font-family: "ff-tisa-web-pro", "FF Tisa Pro";
  font-weight: 400;
  color: #062946;
}
h4 {
  font-family: "ff-tisa-sans-web-pro", "FF Tisa Sans Pro";
  font-weight: 400;
  color: #333333;
  font-size: 0.75em;
}
p {
  font-family: "ff-tisa-sans-web-pro", "FF Tisa Sans Pro";
  color: #333333;
}
a:hover {
  text-decoration: none;
}
#logo-image {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 280px;
}
.cover-image {
  background-image: url("../img/bridge_g.jpg");
  height: 600px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.marquee {
  margin: 80px 0px 50px 0px;
  padding: 10px 0px 20px 0px;
  border-top: 1px solid #062946;
  border-bottom: 1px solid #062946;
  text-align: center;
}
.marquee h2 {
  font-family: "ff-tisa-web-pro", "FF Tisa Pro";
  font-style: italic;
  margin: 20px auto;
  font-size: 2.5em;
  line-height: 1.5em;
}
.section {
  padding-bottom: 100px;
}
.section h2 {
  font-size: 3em;
}
.section p {
  font-size: 1.25em;
  line-height: 1.75em;
}
.people {
  padding-top: 50px;
  text-align: center;
}
.people .person {
  width: 150px;
  height: 200px;
  margin: 0px auto;
  background-color: #cecece;
}
img {
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 0px 1px 1px 0px;
}
.button {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 30px;
  border: 1px solid #062946;
  border-radius: 2px;
  color: #062946;
  font-size: 1.5em;
  font-family: "ff-tisa-sans-web-pro", "FF Tisa Sans Pro";
}
.button:hover {
  background-color: #062946;
  color: #f5f5f5;
}
